<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="userService" class="org.example.service.UserServiceImpl"/>
    <bean id="log" class="org.example.log.Log"/>
    <bean id="afterLog" class="org.example.log.AfterLog"/>
    <!-- aop  -->
    <!-- Method 1  use Spring API   -->
<!--    <aop:config>-->
<!--        <aop:pointcut id="pointcut" expression="execution(* org.example.service.UserServiceImpl.*(..))"/>-->
<!--        <aop:advisor advice-ref="log" pointcut-ref="pointcut"/>-->
<!--        <aop:advisor advice-ref="afterLog" pointcut-ref="pointcut"/>-->
<!--    </aop:config>-->

    <!-- method 2-->
<!--    <bean id="diy" class="org.example.diy.DiyPointCut"/>-->
<!--    <aop:config>-->
<!--        <aop:aspect ref="diy">-->
<!--        &lt;!&ndash; Point Cut &ndash;&gt;-->
<!--        <aop:pointcut id="pointcut" expression="execution(* org.example.service.UserServiceImpl.*(..))"/>-->
<!--            &lt;!&ndash; Advice &ndash;&gt;-->
<!--            <aop:before method="before" pointcut-ref="pointcut"/>-->
<!--            <aop:after method="after" pointcut-ref="pointcut"/>-->
<!--        </aop:aspect>-->
<!--    </aop:config>-->
    <bean id="annotationPointCut" class="org.example.diy.AnnotationPointCut"/>
<!-- JDK(proxy-target-class="false")   cglib(proxy-target-class="true")-->
    <aop:aspectj-autoproxy proxy-target-class="true"/>
</beans>